.login {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .lgbg {
        width: 1200px;
        height: 700px;

        .part {
            width: 364px;
            height: 560px;
            padding: 140px 20px 0px 20px;
            background-color: white;
            margin-left: auto;

            .title {
                margin-bottom: 50px;
                .logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                h1{
                    text-align: center;
                    color: #027cc5;
                    margin-top: 40px;
                }
            }
        }
    }
}